.wrapper {
  display: flex;
  align-items: flex-start;
}

.banner {
  width: 100vw;
}

.menu {
  margin: 2rem 4rem;
}

.navlink {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin: 0 2rem;
  color: black;
}

.logo {
  border: ridge 4px #066;
  padding: 0.2em;
  margin-left: 2em;
}
.pageTitle {
  font-size: 4rem;
  display: inline-block;
  text-align: center;
  margin-left: 3rem;
}